@import "@_styles/typo.scss";
@import "@_styles/color.scss";

.default {
  @include typo(s, bold);
  padding: 2px 8px;
  border-radius: 12px;
  color: $white;
}

.veteran {
  background-color: $lilac;
}

.rookie {
  background-color: $light_positive;
}

.new {
  background-color: $nagative;
}
