@import "@_styles/typo.scss";
@import "@_styles/color.scss";

.default {
  @include typo(s, bold);
  display: inline-block;
  padding: 0 8px 2px;
  border-radius: 12px;
  color: $white;
  text-align: center;
}

.veteran {
  background-color: $lilac;
}

.rookie {
  background-color: $light_positive;
}

.new {
  background-color: $nagative;
}

.not {
  width: 37px;
  background-color: $light_gray_2;
  color: $black;
}

.select {
  width: 37px;
  background-color: $deep_main;
}
