$main: #5d4ee8;
$deep_main: #4f2ce0;
$light_main: #6b64b4;

$lilac: #9191bb;
$light_lilac: #f3f1fb;

$positive: #5381f6;
$light_positive: #8cacff;
$positive_bg: #fafbfe;
$nagative: #ff6359;
$light_nagative: #ff8078;
$nagative_bg: #fffbfb;

$white: #ffffff;
$light_gray_1: #fafafa;
$light_gray_2: #eeeeee;
$gray_1: #cccccc;
$gray_2: #b0afb4;
$gray_3: #635f74;
$black: #2c2936;
