$typo-map: (
  bold: 700,
  normal: 400,
  result: 40px,
  title: 48px,
  3xl: 24px,
  2xl: 20px,
  xl: 18px,
  l: 16px,
  m: 14px,
  s: 12px,
  xs: 10px,
);

@function _get-typo-value($key) {
  @return map-get($typo-map, $key);
}

@mixin typo($sz: l, $wi: normal) {
  font-size: _get-typo-value($sz);
  font-weight: _get-typo-value($wi);
}
