@import "@_styles/color.scss";
@import "@_styles/mixin.scss";
@import "@_styles/typo.scss";

.textWrap {
  @include typo(s);
  display: flex;
  gap: 8px;
  color: $black;
}

.divider {
  color: $gray_1;
}

.blackDived {
  color: $black;
}
