@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSelect($content, $align: center) {
  display: flex;
  justify-content: $content;
  align-items: $align;
}

@mixin fontSelect($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
