@import '../../../styles';

.container {
  width: 100%;
}

.title {
  margin: 40px 80px;
  color: $theme-main;
  font-size: 30px;
  font-weight: 700;
}

.carouselBox {
  @include flexCenter;
  padding: 0 150px;
}

.cardBox {
  height: 250px;
  padding: 10px;
}

.card {
  @include flexCenter;
  flex-direction: column;
  height: 100%;
  border: 3px solid $theme-main;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: all 0.2s ease-in-out;
    transform: translate(-2px, -5px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
}

.cardTitle {
  width: 90%;
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: $theme-white;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 5px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: $theme-white;
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
  gap: 5px;
}

.location {
  width: 15px;
}
