.navBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 40px 10px;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid lightgray;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin: 0 auto;
  gap: 100px;
  max-width: 1200px;
}

.logo {
  font-size: 30px;
  font-family: "Lemon", serif;
  cursor: default;
}

.searchInput {
  padding: 16px 12px;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 16px;
  transition: 0.5s all ease-in-out;
}

.searchInput:focus {
  border: 1px solid #4ad395;
  outline: none;
  transition: 0.5s all ease-in-out;
}

.fa-user:hover {
  padding: 10px;
  border: 2px solid #4ad395;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 160px auto 0;
  max-width: 1200px;
}

.feed {
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow: hidden;
}

.feedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 700;
}

.userImageWrap {
  padding: 2px;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 32px;
  overflow: hidden;
}

.userImage {
  width: 100%;
  border-radius: 32px;
}

.contentBox {
  width: 100%;
  height: 500px;
  overflow: hidden;
  object-fit: contain;
}

.contentImage {
  width: 100%;
}

.descBox {
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
}

.commentIconWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.likeUserBox {
  display: flex;
  gap: 12px;
  margin-bottom: 11px;
}

.likeUser {
  font-weight: 700;
}

.description {
  display: flex;
  gap: 12px;
}

.description > span:first-child {
  font-weight: 700;
}

.commentCount {
  margin-top: 6px;
  font-size: 14px;
  color: lightslategray;
}

.commentList {
  margin-top: 16px;
}

.commentBox {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.commentInput {
  padding: 12px 18px;
  border: none;
}

.commentInput:focus {
  outline: none;
}

.commentButton {
  background-color: white;
  border: none;
  color: #4ad395;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.aside {
  max-width: 300px;
}

.storyWrap {
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow: scroll;
}

.storyHeader {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 14px;
  background-color: white;
}

.storyHeader > p:first-child {
  font-weight: 500;
  color: lightslategray;
}

.storyHeader > p:last-child {
  font-weight: 700;
}

.storyBox {
  display: flex;
  gap: 12px;
  padding: 12px 14px;
}

.storyBox > i {
  font-size: 32px;
}

.storyUserInfo > p:first-child {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
}

.storyUserInfo > p:last-child {
  color: lightslategray;
  font-size: 12px;
}

footer {
  margin-top: 14px;
  color: lightslategray;
  font-size: 14px;
  word-wrap: break-word;
  word-break: keep-all;
}

footer > span {
  line-height: 1.5;
}

footer > span::after {
  content: "•";
}

footer > span:last-child:after {
  content: "";
}
