@import "@_styles/mixin.scss";
@import "@_styles/color.scss";
@import "@_styles/typo.scss";

.navWrap {
  @include flexCenter;
  position: fixed;
  left: 0;
  top: 0;
  padding: 16px 0;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $light_gray_2;
  z-index: 9999;
}

.nav {
  @include customFlex(space-between);
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.logoBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navList {
  @include typo(m);
  @include flexCenter;
  gap: 18px;
  cursor: pointer;
}

.menu {
  padding: 8px;
}

.select {
  border-bottom: 2px solid black;
  font-weight: 700;
}

.user {
  font-weight: 900;
}

.logout {
  color: lightslategray;
}

@media screen and (max-width: 1330px) {
  .nav {
    margin: 0 25px;
  }
}
