.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 24px 20px;
  width: 340px;
  background-color: #f2f2f2;
  border-radius: 24px;
}

.loginForm {
  transition: 0.5s all ease-in-out;
}

.logo {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Lemon", serif;
}

.loginInput {
  padding: 16px 12px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 8px;
}

.loginInput:focus {
  outline: none;
}

.loginInput::placeholder {
  font-size: 16px;
  font-weight: 700;
}

.button {
  padding: 12px 8px;
  width: 100%;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  animation: hover 0.6s ease-in-out;
}

.signin {
  margin-top: 20px;
  background-color: #4ad395;
  opacity: 0.5;
  cursor: not-allowed;
  transition: 0.5s all ease-in-out;
}

.signup {
  background-color: #e7737e;
  transition: 0.5s all ease-in-out;
}

@keyframes hover {
  0% {
    transform: scale(100%);
  }
  25% {
    transform: scale(105%);
  }
  50% {
    transform: scale(100%);
  }
  75% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}
