@import '../../styles';

.container {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  padding-left: 40px;
  transition: all 0.5s ease-in-out;
  border: 2px solid $theme-main;
  border-radius: 20px;
  background-color: white;
}

.full {
  width: 40%;
}

.min {
  justify-content: center;
  width: 40px;
}

.seacrhIcon {
  position: absolute;
  z-index: 3;
  left: 10px;
  width: 20px;
  opacity: 0.4;
}

.input {
  width: 80%;
  height: 30px;
  margin-left: 20px;
  border: none;
  font-size: 15px;
  text-align: center;
  caret-color: $theme-main;

  &:focus {
    outline: none;
  }
}

.button {
  position: absolute;
  right: 0;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: $theme-main;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.active {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.hidden {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
