@import '../../styles';

.nav {
  @include flex(space-between);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background-color: white;
  z-index: 5;
}

.mypage {
  @include flexCenter;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease-in-out;
    color: $theme-main;
  }
}
