@import "@_styles/color.scss";
@import "@_styles/typo.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  @include typo(s);
}

.gray {
  color: $gray_2;
}

.default {
  padding: 16px 12px;
  border-radius: 8px;
  border: none;
  background-color: $light_gray_1;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $gray_2;
    font-family: "Noto Sans KR", sans-serif;
  }
}
